@charset "utf-8";
/* CSS Document */


.navCol {
	flex: 1;
	text-align: center;
}

header {
	display: flex;
}

.headerPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav {
	display: flex;
	font-family: "Open Sans";
	font-weight: 800;
	font-size: 22px;
	padding-bottom: 10px;

	
	
}

.blogRow{
	display: flex;
}

.blogSpace{
	flex: 1;
	
}

.headCenter{
	
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 18px;
	line-height: 0px;
	padding-top: 10px;	
	padding-bottom: 10px;
	background-color: #000000;
	color: white;
	margin-bottom: 20px;
	margin-top: 40px;
	
}

li {
	list-style: none;
}


.blogPosts {
	padding-left: 10px;
	flex: 8;
	vertical-align: text-bottom;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	flex-wrap: wrap;
	flex-direction: row;
}

article {
	padding-top: 30px;
	padding-bottom: 30px;
}

aside {
	text-align: center;
	flex: 1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.dateSett{
	line-height: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	text-align: right;
	margin-top: 1%
}


.pageHeader {
	padding-top: 20px;
	text-align: left;
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 20px;
	border-bottom: 3px solid;
	width: 950px;
	line-height: 0px;

}

footer {
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.blogSection{
	display: flex;
}

.blogblog{
	flex: 3;
}

aside p {
	margin-top:  20px;
	border-left: 1px solid;
	min-height: 85%;
	font-family: 'Open Sans', sans-serif;
	
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color:#214978;
}

aside img {
	box-shadow: 1px 3px 3px;
}


headerbackgound {
	background-image: url(../photos/Cali2.jpg)
	
}


